<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuahusg.weather">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".UI.activities.rebuild.WeatherMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.activities.rebuild.SelectLocationActivity">

        </activity>
        <activity android:name=".UI.activities.rebuild.AboutMeActivity">

        </activity>

        <!--old-->
        <activity android:name=".UI.activities.SelectLocationActivity">

        </activity>
        <activity android:name=".UI.activities.WeatherActivity">

        </activity>
        <activity android:name=".UI.activities.AboutActivity">

        </activity>
        <activity android:name=".UI.activities.SettingActivity">


        </activity>

        <receiver android:name=".receiver.AutoUpdateReceiver">

        </receiver>
        <receiver android:name=".receiver.BootCompleteReciver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.AppWidget.WeatherAppWidgetBigProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_big_info" />
        </receiver>

        <receiver android:name=".receiver.AppWidget.WeatherAppWidgetSmallProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_small_info" />
        </receiver>

        <receiver android:name=".receiver.AppWidget.WeatherAppWidgetWeekProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/weather_appwidget_week_info" />
        </receiver>

        <service android:name=".service.AutoUpdateService">

        </service>
    </application>

</manifest>